<div class="back">
    <div class="me">
        <div class="title">
            <h1>LEONAN<br />LODULA</h1>
            <h3>Contato:</h3>
            <p class="contato">
            (11) 98166-9675<br />
            CONTATO.LEONANLODULA<br />@GMAIL.COM
            </p>
            <div class="download">

            <a href="../../assets/Leonan Lódula.pdf" download="Leonan Lódula (curriculum)" class="btn">
            <i class="fa fa-download"> Download</i></a>
            </div>
        </div>
    </div>
    <div class="exp">
      <h2>Experiencia</h2>
      <div class="neg">
        Barista<br />Starbucks Brasil | AGO/2018 - DEZ/2019<br />
      </div>
      <p class="txt">
        Atendimento de clientes e preparo de bebidas e alimentos além da
        limpeza do local de trabalho.<br />
        Sempre agregando adicionais as vendas, aumentando assim o Ticket Médio.
      </p>
      <div class="neg">
        Coordenador de Plantão<br />Starbucks Brasil | DEZ/2019 - MAR/2021<br />
      </div>
      <p class="txt">
        Organização e preparo da equipe durante a fase operacional.<br />
        Contagem e organização de estoque, recebimento de produtos e atuação
        com o setor financeiro e contratual.
      </p>
    </div>
    <div class="form">
      <h2>FORMAÇÃO</h2>
      <div class="neg">ENSINO MÉDIO COMPLETO | 2011 - 2013<br /></div>
      <p class="txt">ESCOLA ESTADUAL ARACY LEME DA VEIGA RAVACHE</p>
    </div>
    <div class="awards">
      <h1>PREMIAÇÕES</h1>
      <div class="neg">PARTNER OF THE QUARTER | 2019<br /></div>
      <p class="txt">
        PREMIO PELA BOA CONVIVENCIA EM EQUIPE E POR SERPEÇA IMPORTANTE NO
        OPERACIONAL.
      </p>
    </div>
    <div class="skills">
      <h2>SKILLS</h2>
      <p class="txt">
        Facilidade de trabalhar em grupo.<br />
        Disposto a fazer parte do operacional sempre que necessario.<br />
        Ingles fluente, facilitando na comunicação com possiveis clientes
        estrangeiros.
      </p>
    </div>
    <div class="perfil">
      <h2>Perfil</h2>
      <p class="txt">
        Sou um profissional totalmente comprometido com os objetivos da empresa
        e sempre em busca do melhor para
        o crescimento da mesma. Sempre buscando seguir os padrões apresentados
        e cobrando o certo.
      </p>
    </div>
  </div>