<app-nav></app-nav>
<div class="aaa">
  <div class="seila">
    <h2 class="title">Onde me encontrar?</h2>
    <h3 class="texto">
      Você pode entrar em contato comigo através das minhas redes sociais ou
      mandando um email!
    </h3>
  </div>
</div>
<div class="grid-container">
  <div >
    <a href="https://www.linkedin.com/in/leonan-l%C3%B3dula-293461210/" id="linkedin" class="fa fa-linkedin" target="_blank"
      ><h2 class="lkhover">Linkedin</h2></a
    >
  </div>
  <div>
    <a href="https://github.com/Shacalliitto" id="github" class="fa fa-github" target="_blank">
      <h2 class="ghhover">GitHub</h2></a>
  </div>
  <div >
    <a href="http://twitter.com/Shacalliitto" id="twitter" class="fa fa-twitter" target="_blank"
      ><h2 class="tthover">Twitter</h2></a
    >
  </div>
  <div >
    <a href="http://instagram.com/l_odula" id="instagram" class="fa fa-instagram" target="_blank"
      ><h2 class="instahover">Instagram</h2></a
    >
  </div>
  <div >
    <a href="mailto:contato.leonanlodula@gmail.com" id="google" class="fa fa-google" target="_blank">
      <h2 class="gghover">e-mail</h2></a>
  </div>
  
</div>
