<app-nav></app-nav>
<div class="aaa">
  <div class="seila">
      <div class="title">
        <h1 class="titulo">Quem sou eu?</h1>
      </div>    
  </div>
  <div class="txts" style="background: url(../../assets/ca6f38af-4b52-4da2-a485-c4e6d3fc6223.jpg); background-size: cover; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px">
    <div class="black">
        <p>
          Seja muito bem-vindo(a),<br />
          Me chamo Leonan Lódula mas me apresento na internet como Shacall desde 2012.<br />
          Atualmente tenho 24 anos e tenho experiencia profissional na area de vendas. Trabalhei como
          barista e depois coordenador na Starbucks por 2 anos e 6 meses. Sai me dedicando a obter um novo
          conhecimento em uma area pela qual ja havia me interessado anteriormente.
      </p>
      <p>
        Por volta dos meus 14/15 anos fiz diversos cursos voltados a aprender mais sobre a area de computação.
        Dentre eles, fiz cursos de webdesign que eram a minha "matéria" favorita. Aprendi muito brevemenete sobre,
        porem, reencontrei-me com esse assunto numa conversa com a minha namroada e após sair do meu antigo trabalho
        entrei de cabeça nos estudos de desenvolvimento web.
      </p>
      <p>
        Com a ajuda de amigos que ja trabalham na area e conteudos na internet, comecei a ver muito sobre Python porem
        me vi mais interessado com o lado front-end dos estudos. Aprender sobre HMTL, CSS e JavaScript
        me chamou muito mais a atenção. Foi ai onde comecei a fazer buscas mais aprofundadas e hoje tenho
        conhecimento na area (e importunar meus amigos para me ajudarem).  <br />
        Atualmente estou no aprendizado de Angular e React utilizando APIs.
      </p>
      <div class="MBTI">
        <div class="MBTI-INFP">
          <h2 class="INFP">INFP<br> (MBTI)</h2>
          <img src="../../assets/infp-mediator.png" width="200px" class="INFP-img">
        </div>
        <div class="INFP-infos">
          <h2>Personalidade “Mediador”</h2>
          <p>
            Personalidades de Mediador são verdadeiros 
            idealistas procurando o melhor mesmo nas piores 
            pessoas e eventos, procurando um jeito de melhorar 
            as coisas. Enquanto eles podem ser vistos 
            como calmos, reservados, ou mesmo tímidos, 
            Mediadores têm uma chama interior e uma paixão 
            que pode realmente brilhar. Composto por apenas 4% 
            da população, o risco de se sentir incompreendido é 
            infelizmente alto para as pessoas com personalidade 
            de Mediador – mas quando eles encontram pessoas com 
            a mesma opinião para passar seu tempo, a harmonia que 
            sentem será uma fonte de alegria e inspiração.
          </p>
          <h2>Para saber mais, acesse:</h2>
          <a target="_blank" href="https://www.16personalities.com/br/personalidade-infp">
            <img src="../../assets/16persona.svg" class="logo-16p">
          </a>
        </div>
      </div>
    </div>
  </div>
  <app-redes></app-redes>
</div>