@import 'swiper/swiper-bundle'
    
.part1
    display: flex
    align-items: center
    height: 100vh
    
.ado
    margin-left: auto
    margin-right: 70px
    

.me
    font-size: 3em
    font-family: 'Jura', sans-serif
    font-weight: 700
    
.me h1 
    line-height: 0.9
    margin-bottom: 0

.me p 
    margin-top: 0
    margin-bottom: 3em
    margin-right: 2em
    font-size: 15px
    text-align: end
    

.textinho
    font-size: 20px
    color: whitesmoke
    font-family: 'Jura', sans-serif
    font-weight: 700
    

.imagem
    max-width: 1200px
    max-height: 720px
    width: 35vw
    height: 50vh
    margin-right: auto
    

.image
    max-width: 100%
    border-radius: 13px
  

.txt2
    display: flex
    margin-right: auto
    margin-left: auto
    justify-content: center
    align-items: center
    background: red
    font-family: 'Jura', sans-serif

.home-btn
    font-family: 'Jura', sans-serif

.btn
    background-color: #ffd900
    border: none
    color: black
    padding: 15px 32px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 20px
    border-radius: 10px
    transition: 0.5s
    border: 2px solid #b49900
    font-family: 'Jura', sans-serif
    font-weight: 700
    

.btn:hover 
    cursor: pointer
    background: black
    color: #ffd900
    border: 2px solid #ffd900


.nav
    position: fixed
    background: #e9c600
    width: 100%
    font-size: 22px
    margin: auto
    z-index: 9999999
    padding: 15px 0
    font-family: 'Jura', sans-serif
    font-weight: 700

.nav-container
    margin: 0 5vw
    display: flex
    justify-content: space-between

    a
        color: black
        font-size: 0.7em
        font-weight: bolder
        letter-spacing: 1px
        text-transform: uppercase
        text-decoration: none
        margin: 0 10px
        transition: color 200ms
        border: 1px solid #e9c600
        transition: 0.5s
        padding: 4px

    a:hover
        border: 1px solid black
        border-radius: 13px
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)

.home-btn a
    font-size: 1.2em
    text-transform: none
    letter-spacing: 0
    font-weight: normal

.hover:hover
    text-shadow: 0 0 10px #e9c600, 0 0 20px #e9c600, 0 0 40px #e9c600, 0 0 80px #e9c600, 0 0 1200px #e9c600, 0 0 160px #e9c600
    

